/* RESET CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

ul > li {
    list-style: none;
}


/* NAVBAR */

/* -------------------------------------------------------------------------------- */


/* HEADER */




/* --- BOTAO --- */
  


/*********** HEADER   *********/



/* SECAO Maravilhosa */



/* AUTORA */



/* SECAO Recado */



/* FOOTER */


/* MEDIA QUERY */


